In [1]:
print('this is Pandas Project Session')

this is Pandas Project Session

In [2]:
print('let\'s get started')

let's get started

In [3]:
import pandas as pd

In [65]:
chunk_size = 1000
# for chunk in pd.read_csv('E:\DE_Project\dataset\e_commerce_dataset\Amazon Sale Report.csv', chunksize=chunk_size):
#     #process_each chunk here

sales_df = pd.read_csv('E:\DE_Project\dataset\e_commerce_dataset\Amazon Sale Report.csv', nrows=100)

<>:4: SyntaxWarning: invalid escape sequence '\D'
<>:4: SyntaxWarning: invalid escape sequence '\D'
C:\Users\nisha\AppData\Local\Temp\ipykernel_7132\3038783371.py:4: SyntaxWarning: invalid escape sequence '\D'
  sales_df = pd.read_csv('E:\DE_Project\dataset\e_commerce_dataset\Amazon Sale Report.csv', nrows=100)

In [66]:
sales_df.head(10)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
5,5,404-1490984-4578765,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET264,SET264-KR-NP-XL,Set,...,INR,824.00,GHAZIABAD,UTTAR PRADESH,201102.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
6,6,408-5748499-6859555,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0095,J0095-SET-L,Set,...,INR,653.00,CHANDIGARH,CHANDIGARH,160036.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
7,7,406-7807733-3785945,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3405,JNE3405-KR-S,kurta,...,INR,399.00,HYDERABAD,TELANGANA,500032.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
8,8,407-5443024-5233168,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,SET200,SET200-KR-NP-A-XXXL,Set,...,NaN,NaN,HYDERABAD,TELANGANA,500008.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
9,9,402-4393761-0311520,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3461,JNE3461-KR-XXL,kurta,...,INR,363.00,Chennai,TAMIL NADU,600041.0,IN,NaN,False,NaN,NaN

In [67]:
#get the columns of DataFrame
sales_df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [68]:
# remove leading and trailing white-space from the column name
sales_df.columns = sales_df.columns.str.strip()

In [69]:
# sales_df.columns.str.upper().str.replace(' ','_').str.replace('-', '_')
# or
sales_df.columns = sales_df.columns.str.upper().str.replace(r'[ -]', '_', regex=True)

In [70]:
#dropping the columns from dataframe
sales_df.drop(columns=['PROMOTION_IDS', 'UNNAMED:_22'], inplace=True)

In [71]:
sales_df.columns

Index(['INDEX', 'ORDER_ID', 'DATE', 'STATUS', 'FULFILMENT', 'SALES_CHANNEL',
       'SHIP_SERVICE_LEVEL', 'STYLE', 'SKU', 'CATEGORY', 'SIZE', 'ASIN',
       'COURIER_STATUS', 'QTY', 'CURRENCY', 'AMOUNT', 'SHIP_CITY',
       'SHIP_STATE', 'SHIP_POSTAL_CODE', 'SHIP_COUNTRY', 'B2B',
       'FULFILLED_BY'],
      dtype='object')

In [72]:
# type of value
type(sales_df.isnull())
type(sales_df.isnull().sum())

pandas.core.series.Series

In [73]:
#get the columns which has missing value in their rows
sales_df.columns[sales_df.isnull().sum() > 0]

Index(['COURIER_STATUS', 'CURRENCY', 'AMOUNT', 'FULFILLED_BY'], dtype='object')

In [74]:
pd.Series([1,23,4,]) > 0

0    True
1    True
2    True
dtype: bool

In [75]:
sales_df.fillna({'COURIER_STATUS':'Cancelled', 'CURRENCY': 'INR', 'FULFILLED_BY': 'Easy Ship'}, inplace=True)

In [76]:
sales_df.head(100)

,INDEX,ORDER_ID,DATE,STATUS,FULFILMENT,SALES_CHANNEL,SHIP_SERVICE_LEVEL,STYLE,SKU,CATEGORY,...,COURIER_STATUS,QTY,CURRENCY,AMOUNT,SHIP_CITY,SHIP_STATE,SHIP_POSTAL_CODE,SHIP_COUNTRY,B2B,FULFILLED_BY
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,Cancelled,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,Easy Ship
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,Cancelled,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,Easy Ship
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,405-9112089-3379536,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3405,JNE3405-KR-L,kurta,...,Cancelled,0,INR,NaN,PUNE,MAHARASHTRA,411046.0,IN,False,Easy Ship
96,96,408-6357132-2310703,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-L,Set,...,Shipped,1,INR,696.00,Jammu,JAMMU & KASHMIR,180011.0,IN,False,Easy Ship
97,97,406-5334922-9670748,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3718,JNE3718-KR-XXXL,kurta,...,Shipped,1,INR,406.00,bangalore,KARNATAKA,560026.0,IN,False,Easy Ship
98,98,402-8519791-3706738,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET347,SET347-KR-NP-S,Set,...,Shipped,1,INR,852.00,NEW DELHI,DELHI,110036.0,IN,False,Easy Ship
99,99,408-1830318-0357940,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3405,JNE3405-KR-XXL,kurta,...,Shipped,1,INR,399.00,NARNAUND,HARYANA,125039.0,IN,False,Easy Ship

In [77]:
sales_df.drop_duplicates()

,INDEX,ORDER_ID,DATE,STATUS,FULFILMENT,SALES_CHANNEL,SHIP_SERVICE_LEVEL,STYLE,SKU,CATEGORY,...,COURIER_STATUS,QTY,CURRENCY,AMOUNT,SHIP_CITY,SHIP_STATE,SHIP_POSTAL_CODE,SHIP_COUNTRY,B2B,FULFILLED_BY
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,Cancelled,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,Easy Ship
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,Cancelled,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,Easy Ship
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,405-9112089-3379536,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3405,JNE3405-KR-L,kurta,...,Cancelled,0,INR,NaN,PUNE,MAHARASHTRA,411046.0,IN,False,Easy Ship
96,96,408-6357132-2310703,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-L,Set,...,Shipped,1,INR,696.00,Jammu,JAMMU & KASHMIR,180011.0,IN,False,Easy Ship
97,97,406-5334922-9670748,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3718,JNE3718-KR-XXXL,kurta,...,Shipped,1,INR,406.00,bangalore,KARNATAKA,560026.0,IN,False,Easy Ship
98,98,402-8519791-3706738,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET347,SET347-KR-NP-S,Set,...,Shipped,1,INR,852.00,NEW DELHI,DELHI,110036.0,IN,False,Easy Ship
99,99,408-1830318-0357940,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3405,JNE3405-KR-XXL,kurta,...,Shipped,1,INR,399.00,NARNAUND,HARYANA,125039.0,IN,False,Easy Ship

In [78]:
#get the colums data-types
sales_df.dtypes

INDEX                   int64
ORDER_ID               object
DATE                   object
STATUS                 object
FULFILMENT             object
SALES_CHANNEL          object
SHIP_SERVICE_LEVEL     object
STYLE                  object
SKU                    object
CATEGORY               object
SIZE                   object
ASIN                   object
COURIER_STATUS         object
QTY                     int64
CURRENCY               object
AMOUNT                float64
SHIP_CITY              object
SHIP_STATE             object
SHIP_POSTAL_CODE      float64
SHIP_COUNTRY           object
B2B                      bool
FULFILLED_BY           object
dtype: object

In [79]:
#removing white space from one columns data
sales_df['SALES_CHANNEL'] = sales_df['SALES_CHANNEL'].str.strip()

In [80]:
for col_name in sales_df.columns:
    if sales_df[col_name].dtypes == 'object':
        sales_df[col_name] = sales_df[col_name].str.strip()

In [81]:
#data-types-conversion
sales_df['SHIP_POSTAL_CODE'] = sales_df['SHIP_POSTAL_CODE'].astype(int)

In [82]:
# Convert date value into standard date and it's type also
sales_df['DATE'] = pd.to_datetime(sales_df['DATE'],format='%m-%d-%y')

In [83]:
sales_df.head(10)

,INDEX,ORDER_ID,DATE,STATUS,FULFILMENT,SALES_CHANNEL,SHIP_SERVICE_LEVEL,STYLE,SKU,CATEGORY,...,COURIER_STATUS,QTY,CURRENCY,AMOUNT,SHIP_CITY,SHIP_STATE,SHIP_POSTAL_CODE,SHIP_COUNTRY,B2B,FULFILLED_BY
0,0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,Cancelled,0,INR,647.62,MUMBAI,MAHARASHTRA,400081,IN,False,Easy Ship
1,1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085,IN,False,Easy Ship
2,2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210,IN,True,Easy Ship
3,3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,Cancelled,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008,IN,False,Easy Ship
4,4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073,IN,False,Easy Ship
5,5,404-1490984-4578765,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,SET264,SET264-KR-NP-XL,Set,...,Shipped,1,INR,824.00,GHAZIABAD,UTTAR PRADESH,201102,IN,False,Easy Ship
6,6,408-5748499-6859555,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,J0095,J0095-SET-L,Set,...,Shipped,1,INR,653.00,CHANDIGARH,CHANDIGARH,160036,IN,False,Easy Ship
7,7,406-7807733-3785945,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3405,JNE3405-KR-S,kurta,...,Shipped,1,INR,399.00,HYDERABAD,TELANGANA,500032,IN,False,Easy Ship
8,8,407-5443024-5233168,2022-04-30,Cancelled,Amazon,Amazon.in,Expedited,SET200,SET200-KR-NP-A-XXXL,Set,...,Cancelled,0,INR,NaN,HYDERABAD,TELANGANA,500008,IN,False,Easy Ship
9,9,402-4393761-0311520,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3461,JNE3461-KR-XXL,kurta,...,Shipped,1,INR,363.00,Chennai,TAMIL NADU,600041,IN,False,Easy Ship

In [84]:
sales_df['STATUS'] = sales_df['STATUS'].replace('Shipped - Delivered to Buyer','Shipped')

In [86]:
sales_df.to_csv('processed_amazon_sales_report.csv',index=False)