In [66]:
import pandas as pd

In [112]:
# indexing or labelling
d = [1,2,3]
series = pd.Series(d, index=['a','b','c'])
print(series)
series1 = pd.Series({'a':1, 'b':2, 'c':3})
print(series1)

a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
dtype: int64

In [113]:

data = {'a':1, 'b':2, 'c':3}
series_data = pd.Series(data, index=['b', 'a', 'c'])
series_data

b    2
a    1
c    3
dtype: int64

In [134]:
#Processed file, that we have prepared in the last session
df = pd.read_csv("E:\DE_Project\dataset\processed_amazon_sales_report.csv")
df.head(10)

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\nisha\AppData\Local\Temp\ipykernel_19848\2808853850.py:2: SyntaxWarning: invalid escape sequence '\D'
  df = pd.read_csv("E:\DE_Project\dataset\processed_amazon_sales_report.csv")

,INDEX,ORDER_ID,DATE,STATUS,FULFILMENT,SALES_CHANNEL,SHIP_SERVICE_LEVEL,STYLE,SKU,CATEGORY,...,COURIER_STATUS,QTY,CURRENCY,AMOUNT,SHIP_CITY,SHIP_STATE,SHIP_POSTAL_CODE,SHIP_COUNTRY,B2B,FULFILLED_BY
0,0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,Cancelled,0,INR,647.62,MUMBAI,MAHARASHTRA,400081,IN,False,Easy Ship
1,1,171-9198151-1101146,2022-04-30,Shipped,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085,IN,False,Easy Ship
2,2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210,IN,True,Easy Ship
3,3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,Cancelled,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008,IN,False,Easy Ship
4,4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073,IN,False,Easy Ship
5,5,404-1490984-4578765,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,SET264,SET264-KR-NP-XL,Set,...,Shipped,1,INR,824.00,GHAZIABAD,UTTAR PRADESH,201102,IN,False,Easy Ship
6,6,408-5748499-6859555,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,J0095,J0095-SET-L,Set,...,Shipped,1,INR,653.00,CHANDIGARH,CHANDIGARH,160036,IN,False,Easy Ship
7,7,406-7807733-3785945,2022-04-30,Shipped,Merchant,Amazon.in,Standard,JNE3405,JNE3405-KR-S,kurta,...,Shipped,1,INR,399.00,HYDERABAD,TELANGANA,500032,IN,False,Easy Ship
8,8,407-5443024-5233168,2022-04-30,Cancelled,Amazon,Amazon.in,Expedited,SET200,SET200-KR-NP-A-XXXL,Set,...,Cancelled,0,INR,NaN,HYDERABAD,TELANGANA,500008,IN,False,Easy Ship
9,9,402-4393761-0311520,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3461,JNE3461-KR-XXL,kurta,...,Shipped,1,INR,363.00,Chennai,TAMIL NADU,600041,IN,False,Easy Ship

In [ ]:
# df = pd.read_csv("C:\Users\nisha\OneDrive\Desktop\dataengineer session\processed_amazon_sales_report.csv")           
# SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape

In [116]:
#count the number
order_status_count = df['STATUS'].value_counts()
order_status_count
# value_counts() will count the occurrences of each unique value in the Status column.

STATUS
Shipped      91
Cancelled     9
Name: count, dtype: int64

In [118]:
#Calculate the ratio
cancelled = df['STATUS'].value_counts().get('Cancelled', 0)
delivered = df['STATUS'].value_counts().get('Shipped', 0)

ratio = cancelled/delivered if delivered != 0 else 0

print(round(ratio, 3))

0.099

In [119]:
# total how many categories
num_categories = df['CATEGORY'].nunique()
print(num_categories)

#name of the categories
name_catego = df['CATEGORY'].unique()
print(name_catego)

6
['Set' 'kurta' 'Western Dress' 'Top' 'Ethnic Dress' 'Bottom']

In [123]:
# avg_amount
avg_amount = df['AMOUNT'].mean()
print(avg_amount)

620.1135789473684

In [125]:
# The groupby() function in pandas is used to group data by one or more columns and then apply an aggregation or transformation to each group independently. This is particularly useful for summarizing large datasets.
# df.groupby('column_name').agg_function()
# sum(): Returns the sum of values for each group.
# mean(): Returns the average of values for each group.
# count(): Returns the count of values for each group.
# max(): Returns the maximum value in each group.
# min(): Returns the minimum value in each group.

In [126]:
data = {
    'Product': ['Shirt', 'Shoes', 'Shirt', 'Hat', 'Shoes', 'Shirt'],
    'Category': ['Clothing', 'Footwear', 'Clothing', 'Accessories', 'Footwear', 'Clothing'],
    'Price': [150, 250, 200, 100, 300, 250],
    'Quantity': [1, 2, 3, 1, 1, 2]
}

sample_df = pd.DataFrame(data)

In [127]:
# Grouping by single Column
grouped_df = sample_df.groupby('Product').sum()
print(grouped_df)

# Grouping by Multiple Columns
grouped_df = sample_df.groupby(['Product', 'Category']).sum()
print(grouped_df)

# You can apply multiple aggregation functions to different columns using .agg().
grouped_df = sample_df.groupby('Product').agg({'Price': 'sum', 'Quantity': 'mean'})
print(grouped_df)

                         Category  Price  Quantity
Product
Hat                   Accessories    100         1
Shirt    ClothingClothingClothing    600         6
Shoes            FootwearFootwear    550         3
                     Price  Quantity
Product Category
Hat     Accessories    100         1
Shirt   Clothing       600         6
Shoes   Footwear       550         3
         Price  Quantity
Product
Hat        100       1.0
Shirt      600       2.0
Shoes      550       1.5

In [128]:
# You can also filter groups based on certain conditions. For example, to filter out groups where the sum of the "Price" is greater than 200:
grouped_df = sample_df.groupby('Product').filter(lambda x: x['Price'].sum() > 200)
print(grouped_df)

  Product  Category  Price  Quantity
0   Shirt  Clothing    150         1
1   Shoes  Footwear    250         2
2   Shirt  Clothing    200         3
4   Shoes  Footwear    300         1
5   Shirt  Clothing    250         2

In [ ]:
# groupby() is used to group data and apply aggregate functions.
# pivot_table() is used to reshape the data into a pivot format and also allows for aggregation, but with more flexibility in specifying rows, columns, and aggregation functions.

In [130]:
#monthly sales
df['DATE'] = pd.to_datetime(df['DATE'])
df['MONTH'] = df['DATE'].dt.to_period('M')

monthly_sales = df.groupby(['CATEGORY', 'MONTH'])['AMOUNT'].sum()
print(monthly_sales)

CATEGORY       MONTH
Bottom         2022-04      377.00
Ethnic Dress   2022-04      699.00
Set            2022-04    29432.46
Top            2022-04     2164.00
Western Dress  2022-04     7113.33
kurta          2022-04    19125.00
Name: AMOUNT, dtype: float64

In [133]:
# function in pandas, call function using apply method

data = {
    'Product': ['Shirt', 'Shoes', 'Hat'],
    'Price': [150, 250, 100]
}
sample_df = pd.DataFrame(data)

# Custom function to increase price by 10%
def increase_price(x):
    return x * 1.10

# Apply the function to the 'Price' column
sample_df['Increased_Price'] = sample_df['Price'].apply(increase_price)

print(df)

  Product  Price  Increased_Price
0   Shirt    150            165.0
1   Shoes    250            275.0
2     Hat    100            110.0

In [135]:
#find the category with sales
sold_category = df.groupby('CATEGORY')['QTY'].sum()
sold_category

CATEGORY
Bottom            1
Ethnic Dress      1
Set              33
Top               4
Western Dress     8
kurta            44
Name: QTY, dtype: int64

In [136]:
#find the category with max sales 
max_sold_category = df.groupby('CATEGORY')['QTY'].sum().idxmax()
max_sold_category
 # idxmax() is used to return the index (or label) of the first occurrence of the maximum value in a Series or DataFrame column.

'kurta'

In [ ]:
# dt in Pandas
# Purpose: The dt accessor is used to access datetime properties from a datetime column in a DataFrame.

# Why use it: When working with date or time data, dt allows you to perform operations like extracting parts of a date (day, month, year) or grouping by time periods (weeks, months, years).

In [137]:
df['DATE'] = pd.to_datetime(df['DATE'], format='%Y-%m-%d')

In [138]:
# Total quantity shipped daily
daily_qty = df.groupby(df['DATE'].dt.date)['QTY'].sum()
daily_qty

DATE
2022-04-30    91
Name: QTY, dtype: int64

In [139]:
# Total quantity shipped monthly
df['MONTH'] = df['DATE'].dt.month_name()
monthy_sales = df.groupby('MONTH')['QTY'].sum().sort_values(ascending=False)
monthy_sales

MONTH
April    91
Name: QTY, dtype: int64

In [143]:
# fill the avg value in the missing value in the average columns
def fill_missing_amount(row): 
    if pd.isnull(row['AMOUNT']): 
        return df[df['CATEGORY'] == row['CATEGORY']]['AMOUNT'].mean() 
    else: return row['AMOUNT'] 
        
# Apply the function to fill the missing values 
df['AMOUNT'] = df.apply(fill_missing_amount, axis=1)

In [ ]:
# merge() is used to combine two DataFrames based on common columns or indices. It works similarly to SQL joins (inner join, left join, right join, outer join).

pd.merge(left_df, right_df, how='join_type', on='key_column')
# join_type 'inner', 'left', 'right', 'outer'

# DataFrame 1
df1 = pd.DataFrame({
    'Order ID': [1, 2, 3],
    'Product': ['Shirt', 'Shoes', 'Hat'],
    'Price': [150, 250, 100]
})

# DataFrame 2
df2 = pd.DataFrame({
    'Order ID': [1, 2, 4],
    'Customer': ['John', 'Alice', 'Bob']
})

# Merging on 'Order ID' using inner join (default)
merged_df = pd.merge(df1, df2, on='Order ID', how='inner')
print(merged_df)

In [ ]:
# join() is used to combine two DataFrames based on their indices. It's more convenient when you want to join on the index rather than on a column.
# left_df.join(right_df, how='join_type')

# DataFrame 1
df1 = pd.DataFrame({
    'Product': ['Shirt', 'Shoes', 'Hat'],
    'Price': [150, 250, 100]
}, index=[1, 2, 3])

# DataFrame 2
df2 = pd.DataFrame({
    'Customer': ['John', 'Alice', 'Bob']
}, index=[1, 2, 4])

# Joining on the index
joined_df = df1.join(df2, how='left')
print(joined_df)

In [ ]:
# concat() is used to concatenate (stack) DataFrames either along rows (vertically) or columns (horizontally).
# It doesn’t require keys for matching like merge() or join().

# DataFrame 1
df1 = pd.DataFrame({
    'Product': ['Shirt', 'Shoes'],
    'Price': [150, 250]
})

# DataFrame 2
df2 = pd.DataFrame({
    'Product': ['Hat', 'Pants'],
    'Price': [100, 200]
})

# Concatenating vertically (stacking rows)
concat_df = pd.concat([df1, df2], axis=0, ignore_index=True)
print(concat_df)

# Concatenating horizontally (side by side)
concat_df = pd.concat([df1, df2], axis=1)
print(concat_df)